<div class="container">
  <h1>ожидаемый платеж операторов в этом месяце</h1>

  <table class="table table-hover shadow table-striped">
    <thead>
      <tr>
        <th>Имя</th>
        <th>сумма</th>
      </tr>
    </thead>
    <tbody>
      <% @operators.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= num_to_usd(calculate_operators_monthly_payment(user)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
