<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">редактировать</h1>
      <%= render 'form', product_price: @product_price %>
    </div>
  </div>
</div>
