<div id="<%= dom_id outcomer_prepayment %>">
  <p>
    <strong>User:</strong>
    <%= outcomer_prepayment.user_id %>
  </p>

  <p>
    <strong>Outcomer:</strong>
    <%= outcomer_prepayment.outcomer_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= outcomer_prepayment.price %>
  </p>

</div>
