<h1>Editing outcomer prepayment</h1>

<%= render "form", outcomer_prepayment: @outcomer_prepayment %>

<br>

<div>
  <%= link_to "Show this outcomer prepayment", @outcomer_prepayment %> |
  <%= link_to "Back to outcomer prepayments", outcomer_prepayments_path %>
</div>
