<h1>Editing end product</h1>

<%= render "form", end_product: @end_product %>

<br>

<div>
  <%= link_to "Show this end product", @end_product %> |
  <%= link_to "Back to end products", end_products_path %>
</div>
