<h3 class='text-center'>Выберите покупателя:</h3>
<div style='height: 100vh'>
  <div class="d-flex align-items-center" style="width: 100%;  flex-wrap:wrap">
    <% @outcomers.each do |outcomer| %>
      <%= link_to new_income_path(outcomer_id: outcomer.id), class: "text-decoration-none text-dark" do %>
        <div class="card shadow text-center role-item p-4" style="font-size: large; font-weight: bold; width: 196px; height: 95px; margin: 10px; display: flex; justify-content: center; align-items: center;">
          <strong style='width: 100%'><%= outcomer.name.titleize %></strong>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
