<div class='col-sm-4'>
  <h2 class='text-center'>Дебеторы</h2>
  <table class='table shadow table-hover table-striped'>
    <thead>
      <tr>
        <th>Имя</th>
        <th>Разница</th>
      </tr>
    </thead>
    <tbody id='debet'>
      <% @outcomers.each do |outcomer| %>
        <tr>
          <%= find_debetors(outcomer) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='col-sm-4'>
  <h2 class='text-center'>Кредеторы</h2>
  <table class='table table-responsive shadow table-hover table-striped'>
    <thead>
      <tr>
        <th>Имя</th>
        <th>Разница</th>
      </tr>
    </thead>
    <tbody id='debetors'>
      <% @outcomers.each do |outcomer| %>
        <tr>
          <%= find_creditors(outcomer) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  var totalSum = 0;
  var amountElements = document.getElementsByClassName("amount");

  // Calculate the total sum of 'amount' class
  for (var i = 0; i < amountElements.length; i++) {
    totalSum += parseFloat(amountElements[i].textContent.replace(/,/g, ''));
  }
  var newRow = document.createElement("tr");
  newRow.innerHTML = "<td style='font-weight: bold'>ИТОГО:</td><td>" + totalSum.toLocaleString() + "</td>";
  var debetorsTable = document.getElementById("debetors");
  debetorsTable.appendChild(newRow);

  var totalSumDebet = 0;
  var debetElements = document.getElementsByClassName("debet");
  for (var i = 0; i < debetElements.length; i++) {
    totalSumDebet += parseFloat(debetElements[i].textContent.replace(/,/g, ''));
  }
  var newDebetRow = document.createElement("tr");
  newDebetRow.innerHTML = "<td style='font-weight: bold'>ИТОГО:</td><td>" + totalSumDebet.toLocaleString() + "</td>";
  var debetTable = document.getElementById("debet");
  debetTable.appendChild(newDebetRow);
});
</script>