<div class='container'>
  <div class ='row'>
    <div class='col-sm-8'>
      <%= simple_form_for :q, url: url, method: 'get', class: 'form ' do |f| %>
        <%= f.date_field :date, class:'form' %>
        <%= f.submit 'Фильтр', class: 'btn btn-secondary' %>
      <% end %>
    </div>
    <div class='col-sm-4'>
     <% if defined?(@date) %>
       <h3><%= @date.to_s %></h3>
     <% end %>
    </div>
  </div>
</div>