<style>
  body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('https://rolli.uz/assets/rasm/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<br>
<div style='height: 100vh'>
  <div class="d-flex align-items-center" style="width: 100%;  flex-wrap:wrap">
    <% User.roles.slice(*@roles).each do |k, v| %>
      <%= link_to new_user_session_path(role: v), class: "text-decoration-none text-dark" do %>
      <div class="card shadow text-center role-item p-4" style="font-size: large; font-weight: bold; width: 196px; height: 95px; margin: 10px">
        <h3><%= k.upcase() %></h3>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
