<h1 class='text-center'>Выберите роль:</h1>
<br>
<div class="d-flex align-items-center" style="width: 100%; height: 100%; flex-wrap:wrap">
  <% User.roles.slice(*@roles).each do |k, v| %>
    <%= link_to new_user_session_path(role: v), class: "text-decoration-none text-dark" do %>
    <div class="card shadow text-center role-item p-4" style="font-size: large; font-weight: bold; width: 170px; height: 95px; margin: 10px">
      <h3><%= k %></h3>
    </div>
    <% end %>
  <% end %>
</div>