  <div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать!</h1>
        <br>
        <div class='d-flex'>
          <span style='width: 20px; height: 20px; background: green'></span>
          <p>Дебетор - это лицо, которое должно выплатить деньги.</p>
        </div>
        <div class='d-flex'>
          <span style='width: 20px; height: 20px; background: red'></span>
          <p>Кредитор - это лицо, которому мы должны выплачевать деньги.</p>
        </div>
        <hr class="my-4">
        <hr>
        <% if @role == 'другой'%>
          <p class="lead">Если вы впервые, подождите, пока администратор изменит вашу роль. Затем вы можете делать операции.</p>
        <% else %>
          <div>
            <h3>`Когда все двигаются вперёд совместными усилиями, успех приходит сам собой.`</h3>
            <p>-Генри Форд</p>
          </div>
        <% end %>
    </div>
</div>