<div id="<%= dom_id transaction_history %>">
  <p>
    <strong>Income:</strong>
    <%= transaction_history.income_id %>
  </p>

  <p>
    <strong>Expenditure:</strong>
    <%= transaction_history.expenditure_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction_history.amount %>
  </p>

</div>
