
// Custom SCSS
@import "components/buttons";
@import "components/forms";

*{
  margin: 0;
  padding: 0;
}
.flexs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-index{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('https://rolli.uz/assets/rasm/red.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}