<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Добавить новый товар</h1>
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
